body{
    background-color:aliceblue;
    text-align:justify;
}

.cabecalho{
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(221, 237, 250, 0.863);
    border-bottom: solid cadetblue;
    padding: 5px;
    padding-left: 20px;
}


p{
    font-size: 20px;
   
}

.imagemPersonagem{
    width: 200px;
    border-radius: 100%;
}

.itens{
    margin: 0 auto;
    text-align: center;
    width: 940px;

}

.itens h2{
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;
    margin-bottom: 10px;
}

.itens li{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    display: inline-block;
    border: 4px;
    border-radius: 10px;
    border-style:dotted;
    border-color: cadetblue;
    padding: 10px;
}

.itens li:hover{
    border-style:solid;
    border-color: cornflowerblue;
    background-color: rgba(221, 237, 250, 0.863);
}


.itens li:hover h2{
    font-size: 28px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    margin-bottom: 10px;
    color: cornflowerblue;
}

.itens p{
    font-size: 20px;
    width: 200px;
    padding: 5px 0;
    text-align: justify;
}

.menu li{
    text-align: center;
    margin-bottom: 40px;
}

.itemMenu{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
   

}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: cadetblue;
    font-weight: bolder;
    background-color: rgba(221, 237, 250, 0.863);
    padding: 4px;
}

.quote{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    background-color: rgba(221, 237, 250, 0.863);
    margin-bottom: 30px;
}

.rodape{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: darkcyan;
    padding-top: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}